<div class="event">
  <form name="eventFrom" ng-submit="editEvent();" style="margin-bottom:10px;">
    <div class="form-group">
      <label ng-if="edit" for="name">Nom : </label>
      <input ng-if="edit" type="text" required class="form-control" id="name" placeholder="Nom"
             ng-model="eventB.name"/>

      <h1 ng-hide="edit">{{eventB.name}}</h1>
    </div>
    <div class="form-group">
      <label ng-if="edit" for="date">Date et heure :</label>
      <input ng-if="edit" type="datetime-local" class="form-control" id="date" placeholder="Date"
             ng-model="eventB.date" required/>

      <h3 ng-hide="edit">{{eventB.date | date:'dd/MM/yyyy à HH:mm'}}</h3>
    </div>
    <div class="form-group">
      <label for="location">Lieu :</label>
      <input ng-if="edit" ng-autocomplete type="text" class="form-control" id="location" placeholder="Lieu"
             ng-model="eventB.location" required/>

      <div ng-hide="edit">{{eventB.location}}</div>
      <a ng-href="https://www.google.fr/maps/search/{{eventB.location | encodeURI}}" target="_blank">Ouvrir sur Google
        Maps</a>
    </div>
    <div class="form-group">
      <label for="date">Description :</label>
      <textarea ng-show="edit" class="form-control" rows="5" ng-model="eventB.description" maxlength="500"></textarea>
      <pre ng-hide="edit" ng-bind-html="eventB.description | linky:'_blank'"></pre>
    </div>
    <div class="form-group">
      <label ng-if="edit" for="flagOnlyBitchizz">Only Bitchizz ?
        <input type="checkbox" id="flagOnlyBitchizz" ng-model="eventB.isOnlyBitchizz"/>
      </label>

      <div ng-if="!edit">
        <span ng-show="eventB.isOnlyBitchizz">Seulement les bitchizz</span>
        <span ng-hide="eventB.isOnlyBitchizz">Bitchizz & Cie</span>
      </div>
    </div>
    <div class="form-group">
      Participants :
      <div ng-repeat="(key, answerKind) in eventB.people" class="btn-group" style="margin-right:5px;" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
          <b>{{answerKind.length}}</b> {{key}}
          <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu">
          <li role="menuitem" ng-repeat="answer in answerKind"><a>{{answer.name}} ({{answer.dateAnswer |
            date:'dd/MM/yyyy à HH:mm'}})</a></li>
        </ul>
      </div>
    </div>


    <button ng-if="edit" type="submit" class="btn btn-primary">Modifier</button>
    <span class="alert alert-success glyphicon glyphicon-ok" ng-show="success"></span>

    <span ng-click="edit = !edit" class="btn  btn-default">
      <span ng-if="edit">Voir</span>
      <span ng-if="!edit">Edit</span>
    </span>

    <div uib-dropdown style="display: inline-block;">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Répondre <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu">
        <li><a ng-click="participate('going')">Je serai là !</a></li>
        <li><a ng-click="participate('mayBe')">Ça dépendra de ma soeur.</a></li>
        <li role="separator" class="divider"></li>
        <li><a ng-click="participate('notGoing')">Je ne peux pas venir.</a></li>
      </ul>
    </div>
  </form>


  <h2>Commentaires :</h2>

  <div class="chat">
    <ul id="messages" ng-show="eventB.comments.length" class="messageArea" ng-style="{height : heightChat +'px'}"
        scroll-glue>
      <li ng-repeat="message in eventB.comments">
        <br clear="all"/>

        <div ng-show="messages[$index - 1].author != message.author">
          <span class="author">{{message.author}}</span>
        </div>

        <div class="message" ng-class="$index%2 == 0 ? 'grey' : ''">
          <span ng-bind-html="message.text | nl2br"></span>

          <div class="time" ng-show="messages[$index - 1].timestamp != message.timestamp">{{message.timestamp*1000 |
            date:'dd/MM HH:mm:ss'}}
          </div>
        </div>
        <hr style="margin:0;" ng-show="$index != 0 && messages[$index - 1].author != message.author"/>
      </li>
    </ul>
    <div class="textareaParent">
      <textarea placeholder="Message..." ng-keyup="onKeyUp($event)"></textarea>
    </div>
  </div>

</div>
