<div class="home">
  <h1>Bitchizz App</h1>

  <p class="alert alert-danger" ng-show="err">{{err}}</p>

  <div ng-show="! isConnected">
    <a class="btn btn-primary" href="#/login">Connexion avec Facebook</a>
    <br/>
    <br/>
    <br/>
  </div>

  <div ng-show="isConnected">
    <h3>Prochains events</h3>
    <div ng-repeat="(key, event) in eventsBitchizz | futureEvents">
      <a href="#/event/{{key}}">{{event.date | date:'dd/MM/yyyy HH:mm'}} -
        {{event.name}} ({{event.location}})</a>
    </div>
  </div>
</div>
